# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
bin/
/db
.eclipse
nbproject/
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
lucene/
luceneAbstract/
nbproject/
data/NCITNCBO.owl

# Ignore configuration file #
conf/application.conf
