<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@{Application.index()}"><span
                    class="fa fa-book"></span> Open Metrics</a>
        </div>

        <div class="collapse navbar-collapse">

            <form class="navbar-form navbar-left" role="search">
                <div class="form-group" id="custom-templates">

                    <input type="text" class="typeahead form-control" placeholder="Search concept or journal">
                </div>
            </form>

            <ul class="nav navbar-nav">
                <li class="${menu == 'curation' ? 'active' : ''}"><a
                        href="@{Application.trends("standard", "desc")}"><span class="fa fa-bar-chart-o"></span>
                        Trends</a></li>
                <li class="${menu == 'curation' ? 'active' : ''}"><a
                        href=""><span class="fa fa-graduation-cap"></span>
                        Open Impact Factor</a></li>
                <li class="${menu == 'curation' ? 'active' : ''}"><a
                        href=""><span class="fa fa-comment"></span> About</a></li>
            </ul>


        </div>
    </div>
</div>