#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Trends</h1>
<ul>
<li><a href="@{Application.samplePubLit()}">Download data from PUB_LIT</a></li>
<li><a href="@{Application.luceneIndexing()}">Index text</a></li>
<li><a href="@{Application.luceneQuery("datas interactions")}">Query</a></li>
<li><a href="@{Application.dumpIndex()}">Dump Index</a></li>
<li><a href="@{Application.simpleIndex()}">Do a simple index</a></li>
<li><a href="@{Application.indexInDb()}">Save the index in the database</a></li>
<li><a href="@{Application.computeTrends()}">Compute the trends and save them</a></li>
</ul>