<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" media="screen" href="@{'/public/css/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/css/bootstrap.min.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/js/jquery-2.1.1.min.js'}" type="text/javascript" charset="UTF-8"></script>
        <script src="@{'/public/js/bootstrap.min.js'}" type="text/javascript" charset="UTF-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body style="padding-top: 50px;">
        #{navbar /}
        <div class="container">
            #{doLayout /}
        </div>
    </body>
</html>
